swiper-slide {
    margin-top: 20px;
}

.custom-swiper-btn {
    display: flex;
    position: absolute;
    top: calc(50% - 22px);
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #8f7e7e;
}

.custom-swiper-btn[aria-disabled='true'] {
    display: none;
}

.swiper-pagination-lock.custom-pagination {
    display: none;
}

swiper-slide {
    box-sizing: border-box;
}

.custom-swiper-btn:hover {
    transition: all 0.3s;
}

.custom-prev-button.custom-swiper-btn {
    transform: rotate(180deg);
}

.custom-next-button {
    right: 0;
    cursor: pointer;
}

.custom-prev-button {
    left: 0;
    cursor: pointer;
}

.custom-pagination {
    display: flex;
    margin: 15px auto 0;
    justify-content: center;
    gap: 6px;
}

.custom-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d1d1d1;
}

.custom-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #8f7e7e;
}

component-slider-swiper {
    display: block;
    position: relative;
}

@media only screen and (max-width: 750px) {}

@media only screen and (max-width: 575px) {
    .custom-next-button {
        right: 15px;
        cursor: pointer;
    }

    .custom-prev-button {
        left: 15px;
        cursor: pointer;
    }
}